.benefits {

    // .benefits__container

    &__container {
    }
}
.tabs-benefits {

    // .tabs-benefits__navigation

    &__navigation {
        display: flex;
    }




    // .tabs-benefits__title

    &__title {
        display: flex;
        align-items: center;
        flex: 0 0 25%;
        padding: rem(15) rem(25);
        line-height: 1;
    }

    &__title-descr {
        display: block;
        padding: 0 10px;
        @include adaptiveValue("font-size", 18, 14);
    }

    @media (max-width: 880px) {
        &__title {
            justify-content: center;
        }

        &__title-descr {
            display: none;
        }
    }



    // .tabs-benefits__content

    &__content {

    }



    // .tabs-benefits__body

    &__body {

    }

    &__item {
        display: flex;
        padding: rem(25);
        background-color: $lighten-bg-color;
    }

    &__item-content {
        flex: 1 1 auto;
    }

    &__item-title {
        font-size: rem(25);
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: rem(15);
    }

    // .tabs-benefits__description

    &__item-description {
        max-width: rem(530);
    }

    // .tabs-benefits__img

    &__item-img {
        min-height: 200px;
    }
}

    // ._tab-active

._tab-active {
    background-color: $brand-color;
    color: #fff;
}



